<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav mr-auto">
        <div class="btn btn-primary"><a class="nav-item nav-link" style="color: white" href="home">Home page</a></div>
    </div>
    <form action="logout" method="post" class="form-inline ml-auto">
        <button type="submit" class="btn btn-outline-danger btn-lg">Logout</button>
    </form>
</nav>
<div class="container">
    <div class="panel mt-4" style="padding: 20px;">
        <h1 class="text-center">Album Page</h1><br>
        <b><p class="text-center">Title: </b><span th:text="${album.title}"></span></p>
        <b><p class="text-center">Creator: </b><span th:text="${albumcreator}"></span></p>
        <b><p class="text-center">Creation Date: </b><span th:text="${album.date}"></span></p>
        <table class="table table-bordered text-center">
            <tbody>
            <tr>
                <td class="align-middle" th:block th:if="${previous} >= 0">
                    <a th:href="@{/album(id=${album.id}, offset=${previous})}">
                        <button class="btn btn-primary">Previous</button>
                    </a>
                </td>
                <td th:each="col : ${#numbers.sequence(0, 4)}" style="width: 20%; vertical-align: top;">
                    <div class="d-flex flex-column align-items-center" th:if="${col < albumImages.size()}">
                        <a th:href="@{/image(id=${albumImages[col].id})}">
                            <img th:src="@{${albumImages[col].path}}" th:alt="${albumImages[col].title}"
                                 class="thumbnail"></a>
                        <br>
                        <span th:text="${albumImages[col].title}"></span>
                    </div>
                    <div th:if="${col >= albumImages.size()}">
                        &nbsp;
                    </div>
                </td>
                <td class="align-middle" th:block th:if="${next} < ${totalImagesNumber}">
                    <a th:href="@{/album(id=${album.id}, offset=${next})}">
                        <button class="btn btn-primary">Next</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
